<div class="header-text"><span class="reader">Readers</span> have many <span class="book">books</span> through <span class="ownership">ownerships</span>.</div>

<div id="circles">
  <div class="reader-model reader"></div>
  <div class="book-model book"></div>
  <div class="ownership-model ownership"><span></span></div>
</div>
<br/>

<div class="row">
  <div class="col-md-7 center-block">
  <%= form_tag books_path, method: 'get', id: 'database-search' do %>
    <p>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: 'btn btn-default', :name => nil %>
        </span>
      </div>
      
    </p>
  <% end %>
  </div>
</div>

<div class="col-md-5">
  <div>books</div>
  <%= content_tag :table, class: "table #{model_class(@book_status)}" do %>
    <tr>
      <th>title</td>
      <th>author</td>
    </tr>
      <%= render partial: 'book', collection: @books %>
  <% end %>
</div>

<div class="col-md-3">
  <div>ownerships</div>
  <%= content_tag :table, class: "table #{model_class(@ownership_status)}" do %>
    <tr>
      <th>status</th>
    </tr>
    <%= render partial: 'ownership', collection: @ownership_statuses %>
  <% end %>
</div>

<div class="col-md-4">
  <div>readers</div>
  <%= content_tag :table, class: "table #{model_class(@reader_status)}" do %>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>gender</th>
    </tr>
    <%= render partial: 'reader', collection: @readers.sort_by {|v| v.name[/\s(\w+)/,1] } %>
  <% end %>
</div>