<!DOCTYPE html>
<html>
<head>
  <title>Databases</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <br/>
    <div id="flash-container">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:notice] unless flash[:notice].blank? %></div>
      <% elsif flash[:error] %>
        <div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:error] unless flash[:error].blank? %></div><br/><br/><br/>
      <% end %>
    </div>
    
    <%= yield %>
  </div>
</body>
</html>
